.profile-infos {
    display: flex;
    width: 330px;
    margin-top: 100px;
    flex-direction: column;
    color: #4C6675;
    gap: 16px;
  }
  
  .profile-infos h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
  }
  
  .profile-infos h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin: 0px;
  }
  
  .profile-infos p {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin: 0px;
  }

@media (min-width: 840px) {
    .profile-infos {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    color: #4C6675;
    gap: 16px;
    width: 523px;
  }
  
  .profile-infos h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin: 0px;
  }
  
  .profile-infos h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 75px;
    margin: 0px;
  }
  
  .profile-infos p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0px;
  }
}