 .app {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100vh;
} 

.profile-container {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.profile-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}

.profile-image {
  height: 330px;
  width: 330px;
  border-radius: 50%;
  border: solid 3px #7AB1E3;
}

.about-button {
  text-align: center;
}

@media (min-width: 820px) {
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.profile-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.profile-image {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: solid 3px #7AB1E3;
}

.about-button {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  text-align: center;
}

}